/*
* Variables
*/

$main-text-color: #56534c;
$brown-color: #a47d5e;
$beige-color: #dfc691;


@mixin background-size($type) {
	-webkit-background-size: $type;
	-o-background-size: $type;
	-moz-background-size: $type;
	background-size: $type;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($delay) {
	-webkit-transition: $delay;
	-o-transition: $delay;
	-moz-transition: $delay;
	transition: $delay;
}

@mixin transformX-Y($x, $y) {
	-webkit-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin transform-rotate($rotate) {
	-webkit-transform: rotate($rotate);
	-o-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	transform: rotate($rotate);
}

@mixin nav-link($nav-color: #efebe4, $nav-color-hover: #fff) {
	color: $nav-color;
	@include transition(0.5s);
	&:hover {
		color: $nav-color-hover;
		@include transition(0.3s);
	}
}

// Font Alegreya Bold
@mixin alegreya($font-size) {
	font: 700 $font-size 'Alegreya', serif;
}

// Font Proxima Nova
@mixin proxima-nova($font-size) {
	font: $font-size 'Proxima Nova', sans-serif;
}

// Mixin Overlay
@mixin overlay($top: 0, $left: 0, $layer: 20) {
	position: absolute;
	top: $top;
	left: $left;
	width: 100%;
	z-index: $layer;
}

// linear-gradient
@mixin linear-gradient($args...) {
	background: -webkit-linear-gradient($args);
	background: -o-linear-gradient($args);
	background: -moz-linear-gradient($args);
	background: linear-gradient($args);
}

// Box shadow
@mixin box-shadow($shift-x, $shift-y, $blur, $extension, $color) {
	-webkit-box-shadow: $shift-x $shift-y $blur $extension $color;
	-moz-box-shadow: $shift-x $shift-y $blur $extension $color;
	box-shadow: $shift-x $shift-y $blur $extension $color; 
}

// Name Chef Cook
@mixin nameChefCook($name) {
	content: $name;
	position: absolute;
	top: 50%;
	width: 112px;
	font-size: 24px;
	color: #56534c;
	border-top: 1px solid #d7d5ca;
	border-bottom: 1px solid #d7d5ca;
	padding: 10px 0;
}

// Name Chef Cook - screen extra small
@mixin nameChefCook-xs() {
	width: 80px;
	font-size: 20px;
	padding: 10px 0;
}


@mixin quoteChefCook($quote) {
	content: $quote;
	position: absolute;
	font: 60px 'Times New Roman', serif;
	color: #b6b5b2;
}

@mixin icon-breakfast() {
	content: "";
	position: absolute;
	bottom: -60%;
	width: 51px;
	height: 27px;
}

@mixin breakfast-menu-head-before() {
	content: "EST.";
 	position: absolute;
 	top: -40%;
 	left: 20%;
 	font: 700 12px 'Alegreya';
 	color: #56534c;
}

@mixin breakfast-menu-head-after() {
	content: "1893";
 	position: absolute;
 	top: -40%;
 	right: 20%;
 	font: 700 12px 'Alegreya';
 	color: #56534c;
}

/*
 * Media Enquiries
 */

 $screen-xs: 480px;
 $screen-sm: 767px;
 $screen-md: 992px;
 $screen-lg: 1200px;

// max-width large screen / wide desktop
@mixin lg {
	@media screen and (max-width: #{$screen-lg}) {
		@content;
	}
}

 // max-width medium screen / desktop
 @mixin md {
 	@media screen and (max-width: #{$screen-md}) {
 		@content;
 	}
 }

 // max-width small screen / tables
 @mixin sm {
 	@media screen and (max-width: #{$screen-sm}) {
 		@content;
 	}
 }

 // max-width extra small screen / phone
 @mixin xs {
 	@media screen and (max-width: #{$screen-xs}) {
 		@content;
 	}
 }