@import "mixins.scss";


body {
	font-family: 'Alegreya', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: #fff;
}

@font-face {
	font-family: 'Scriptina';
	src:url('../fonts/webfonts_Scriptina/Scriptina.ttf.woff') format('woff'),
	url('../fonts/webfonts_Scriptina/Scriptina.ttf.svg#Scriptina') format('svg'),
	url('../fonts/webfonts_Scriptina/Scriptina.ttf.eot'),
	url('../fonts/webfonts_Scriptina/Scriptina.ttf.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src:url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot'),
	url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'flexslider-icon';
	src: url('../fonts/flexslider-icon/flexslider-icon.eot');
	src: url('../fonts/flexslider-icon/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon/flexslider-icon.ttf') format('truetype'), url('../flexslider-icon/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container::before,
.row::before,
.row::after {
	content: " ";
	display: table;
}

.row::after {
	clear: both;
}

.clearfix {
	clear: both;
}

.showcase {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}

.bg-image {
	position: relative;
	background: url('../img/Ebene-11.jpg') top center no-repeat;
	@include background-size(cover);
	height: 900px;
	overflow: hidden;
}

.navigation {
	@include overlay(0,0,100);
	background: rgba(86,83,76,0.53);
}

.logo {
	font: 30px 'Scriptina';
	line-height: 55px;
	@include nav-link;
}

.main-menu {
	display: table;
	margin: 0 auto;
	padding: 25px 0 25px;
	li + li {
		margin-left: 38px;
		&:before {
			content: '~';
			padding-right: 38px;
		}
	}
	li {
		display: inline-block;
		a {
			@include nav-link;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}
}

.main-menu.active {
	display: block;
}

.social-menu {
	text-align: right;
	padding-top: 25px;
	li {
		display: inline-block;
		padding-left: 26px;
		a {
			font-size: 16px;
			@include nav-link;
		}
	}
}

.showcase-text {
	@include overlay();
	height: 100%;
	text-align: center;
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 27%;
	}
	h1 {
		font: 700 92px 'Playfair Display', serif;
		letter-spacing: 4px;
		padding-bottom: 125px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 47px;
			left: 50%;
			width: 224px;
			height: 25px;
			box-sizing: content-box;
			padding-top: 11px;
			border-top: 2px solid #9e9c93;
			background: url('../img/dashed-line.png') center center no-repeat;
			@include transformX-Y(-50%,0);
		}
	}
	p {
		@include proxima-nova(24px);
		line-height: 36px;
		letter-spacing: 2px;
		padding-bottom: 65px;
	}
	button {
		width: 200px;
		height: 50px;
		@include alegreya(14px);
		color: #fff;
		letter-spacing: 2px;
		background: rgba(86,83,76,0.53);
		border: 1px dashed #9e9c93;
		outline: none;
		text-transform: uppercase;
		@include transition(0.5s);
		&:hover {
			background: rgb(86,83,76);
			border: none;
			@include transition(0.3s);
		}
	}
}

.bg-shadow {
	@include overlay(10%,20%,10);
	height: 100%;
	background: url('../img/bg-shadow1.png') no-repeat; 
}

.mobilepanel {
	display: block;
	position: absolute;
	top: -45px;
	right: 15px;
}

.mobilepanel-toggle {
	width: 48px;
	height: 48px;
	outline: none;
	border: none;
	background: none;
}

.mobilepanel-toggle span {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin-bottom: 5px;
	background: #000;
	@include border-radius(2px);
	@include transition(0.3s);
}

.mobilepanel-toggle.active .line1 {
	top: 4px;
	@include transform-rotate(-45deg);
	@include transition(0.3s);
}

.mobilepanel-toggle.active .line2 {
	display: none;
}

.mobilepanel-toggle.active .line3 {
	top: -5px;
	@include transform-rotate(45deg);
	@include transition(0.3s);
}

.border {
	position: absolute;
	bottom: -35px;
	left: 50%;
	width: 70px;
	height: 70px;
	z-index: 50;
	background: #fff;
	@include border-radius(50%);
	@include transformX-Y(-50%,0);
	.bullet {
		position: absolute;
		top: -23px;
		left: 33px;
		background: url('../img/Vektor-Smartobjekt.png') no-repeat;
		width: 106px;
		height: 106px;
		@include transformX-Y(-50%,0);
	}
}

/*
 * Main Content
 */

.art-cake {
 	width: 100%;
 	max-width: 1600px;
 	margin: 0 auto;
 	padding-top: 10px;
}

.texture {
 	background: url('../img/texture.png') no-repeat;
 	position: relative;
 	padding-top: 120px;
 	padding-bottom: 70px;
}

.texture {
 	&:before {
 		content: "";
 		display: block;
 		height: 100%;
 		@include linear-gradient(to top right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
 		@include overlay(0,0,40);
 	}
}

.left-content {
 	position: relative;
 	z-index: 60;
 	padding: 0 70px;
 	margin-top: -30px;
 	text-align: center;
 	h2 {
 		@include alegreya(44px);
 		color: $main-text-color;
 	}
 	h4 {
 		@include alegreya(14px);
 		color: $brown-color;
 		text-transform: uppercase;
 	}
 	p {
 		@include proxima-nova(14px);
 		line-height: 21px;
 		color: $main-text-color;
 		letter-spacing: 1px;
 		padding: 60px 0 40px;
 	}
 	h3 {
 		@include alegreya(24px);
 		color: $main-text-color;
 		padding-bottom: 30px;
 	}
 	blockquote {
 		position: relative;
 		width: 240px;
 		font: 24px/1.4 'Scriptina';
 		color: $brown-color;
 		margin: 40px auto 0;
 		letter-spacing: -2px;
 		&:before {
 			top: -35%;
 			left: -28%;
 			@include quoteChefCook('\201c');
 		}
 		&:after {
 			bottom: -35%;
 			right: -28%;
 			@include quoteChefCook('\201e');
 		}
 	}
}

.chef-cook {
 	position: relative;
 	&:after {
 		right: 50%;
 		@include nameChefCook('Benito');
 		@include transformX-Y(-50%,-50%);
 	}
 	&:before {
 		left: 50%;
 		@include nameChefCook('Gaspare');
 		@include transformX-Y(50%,-50%);
 	}
}

.icon-chef {
 	width: 102px;
 	height: 102px;
 	@include border-radius(50%);
}

.right-content {
 	position: relative;
 	z-index: 70;
 	.col-lg-6 {
 		padding-right: 10px;
 		padding-left: 10px;
 	}
}

.img-cake {
 	max-width: 100%;
 	margin-bottom: 14px;
 	img {
 		max-width: 100%;
 		height: auto;
 	}
}

figure {
 	position: relative;
}

.border-img {
 	position: absolute;
 	top: 2.5%;
 	left: 2.5%;
 	width: 95%;
 	height: 92.5%;
 	border: 5px solid #fff;
}

.text-img {
 	position: absolute;
 	top: 45%;
 	left: 50%;
 	width: 250px;
 	height: 250px;
 	padding: 85px 10px 0 10px;
 	opacity: 0.9;
 	z-index: 90;
 	text-align: center;
 	font-size: 30px;
 	color: #c9b176;
 	background: url('../img/Vektor-Smartobjekt2.png') no-repeat;
 	@include transformX-Y(-50%,-45%);
}

.pancake {
 	width: 100%;
 	max-width: 1600px;
 	margin: 0 auto;
 	.col-lg-8 {
 		margin: 0 auto;
 		float: none;
 	}
}

.bg-image-pancake {
 	position: relative;
 	background: url('../img/Ebene-112.jpg') top center no-repeat;
 	@include background-size(cover);
 	height: 760px;
 	padding-top: 125px;
}

 /* ================================
  * SLIDER
  ================================== */

#slider {
  	@include box-shadow(0px, 15px, 54px, 0px, rgba(105,80,58,0.45));
  	.flex-viewport {
  		max-height: 550px;
  	}
  	.flex-direction-nav {
  		display: none;
  	}
}

.flexslider {
  	background-color: transparent!important;
  	border: none!important;
}

.img-text {
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 60%;
  	height: 101%;
  	padding: 85px 85px 42px 60px;
  	background: #fff url('../img/Vektor-Smartobjekt-windmill.png') 100% 100% no-repeat;
  	h2 {
  		@include alegreya(48px);
  		color: $main-text-color;
  	}
  	span {
  		font-weight: 700;
  		color: $brown-color;
  		text-transform: uppercase;
  	}
  	p {
  		@include proxima-nova(14px);
  		color: $main-text-color;
  		letter-spacing: 1px;
  		margin-top: 60px;
  	}
}

.btn-full-img {
  	position: absolute;
  	top: 0;
  	right: 4px;
  	font-size: 20px;
  	color: #000;
  	cursor: pointer;
  	@include transition(0.3s);
  	&:hover {
  		font-size: 24px;
  		@include transition(0.3s);
  	}
}

#carousel {
  	position: absolute;
  	bottom: 5%;
  	right: 20%;
  	width: 330px;
  	cursor: pointer;
  	@include transformX-Y(20%,-5%);
  	img {
  		width: 90px;
  		height: 90px;
  		border-radius: 50%;
  	}
}

.flexslider {
  	.flex-direction-nav {
  		a {
  			width: 45px;
  			height: 45px;
  			margin-bottom: -30px;
  		}
  	}
}

.flexslider{
  	&:hover {
  		.flex-direction-nav .flex-prev {
  			left: -30px!important;
  		}
  	}
}

.flexslider{
  	&:hover {
  		.flex-direction-nav .flex-next {
  			right: -30px!important;
  		}
  	}
}

/*
 * breakfast content
 */

.breakfast {
 	width: 100%;
 	max-width: 1600px;
 	margin: 0 auto;
 	position: relative;
 	overflow: hidden;
}

.bg-image-breakfast {
 	position: relative;
 	background: url('../img/img322.jpg') center center no-repeat;
 	@include background-size(cover);
 	height: 760px;
}

.image-corner {
 	position: absolute;
 	bottom: 0;
 	right: 0;
 	width: 411px;
 	height: 190px;
 	z-index: 1000;
 	background: url('../img/Vektor-Smartobjekt444.png') no-repeat;
}

.breakfast-left {
 	text-align: center;
 	padding-top: 70px;
 	padding-left: 20%;
 	h2 {
 		@include alegreya(60px);
 		line-height: 72px;
 	}
 	h4 {
 		@include alegreya(18px);
 		color: #c8a593;
 		text-transform: uppercase;
 	}
 	h3 {
 		@include alegreya(30px);
 		padding-top: 40px;
 		padding-bottom: 5px;
 	}
 	p {
 		@include proxima-nova(16px);
 		color: #c2beba;
 		padding-bottom: 20px; 
 	}
 	div {
 		position: relative;
 		width: 87px;
 		font-size: 36px;
 		color: $beige-color;
 		margin: 0 auto;
 	}
}

.icon-breakfast {
 	&:before {
 		@include icon-breakfast();
 		left: 0;
 		background: url('../img/Vektor-Smartobjekt-Kopie.png') no-repeat;
 	}
 	&:after {
 		@include icon-breakfast();
 		right: 0;
 		background: url('../img/Vektor-Smartobjekt4.png') no-repeat;
 	}
}

.breakfast-wrap {
 	position: relative;
 	width: 90%;
 	margin-top: 80px;
}

.breakfast-wrap-menu-1 {
 	position: absolute;
 	right: 0;
 	z-index: 370;
 	width: 100%;
 	max-width: 440px;
 	min-width: 440px;
 	height: 600px;
 	background: url('../img/bg-1.png') no-repeat;
 	background-size: cover;
 	@include box-shadow(14px, -4px, 33px, -16px, rgba(0,0,0,1));
 	&:before {
 		content: '';
 		position: absolute;
 		bottom: 0px;
 		left: 0px;
 		width: 31px;
 		height: 31px;
 		z-index: 500;
 		background: url('../img/corner-big.png') no-repeat;
 		@include box-shadow(2px, -2px, 6px, -2px, rgba(0,0,0,1));
 	}
 	.breakfast-menu-head-1 {
 		position: relative;
 		width: 367px;
 		height: 60px;
 		margin: 0 auto;
 		background: url('../img/logo-menu.png') no-repeat;
 		&:before {
 			@include breakfast-menu-head-before();
 		}
 		&:after {
 			@include breakfast-menu-head-after();
 		}
 	}
}

.breakfast-wrap-menu-2 {
 	position: absolute;
 	top: 26px;
 	right: -18px;
 	z-index: 370;
 	width: 100%;
 	max-width: 402px;
 	min-width: 402px;
 	height: 548px;
 	background: url('../img/bg-2.png') no-repeat;
 	background-size: cover;
 	@include box-shadow(14px, -4px, 33px, -16px, rgba(0,0,0,1));
 	&:before {
 		content: '';
 		position: absolute;
 		bottom: 0px;
 		left: 0px;
 		width: 29px;
 		height: 29px;
 		z-index: 500;
 		background: url('../img/corner-big.png') no-repeat;
 		@include box-shadow(2px, -2px, 4px, -2px, rgba(0,0,0,1));
 	}
 	.breakfast-menu-head-2 {
 		position: relative;
 		width: 327px;
 		height: 55px;
 		margin: 0 auto;
 		background: url('../img/logo-menu-2.png') no-repeat;
 		&:before {
 			@include breakfast-menu-head-before();
 		}
 		&:after {
 			@include breakfast-menu-head-after();
 		}
 	}
}

.breakfast-wrap-menu-3 {
 	position: absolute;
 	top: 50px;
 	right: -35px;
 	z-index: 370;
 	width: 100%;
 	max-width: 370px;
 	min-width: 370px;
 	height: 500px;
 	background: url('../img/bg.png') no-repeat;
 	background-size: cover;
 	@include box-shadow(14px, -4px, 33px, -16px, rgba(0,0,0,1));
 	&:before {
 		content: '';
 		position: absolute;
 		bottom: 0px;
 		left: 0px;
 		width: 27px;
 		height: 27px;
 		z-index: 500;
 		background: url('../img/corner-big.png') no-repeat;
 		@include box-shadow(2px, -2px, 4px, -2px, rgba(0,0,0,1));
 	}
 	.breakfast-menu-head-3 {
 		position: relative;
 		width: 300px;
 		height: 52px;
 		margin: 0 auto;
 		background: url('../img/logo-menu-3.png') no-repeat;
 		&:before {
 			@include breakfast-menu-head-before();
 		}
 		&:after {
 			@include breakfast-menu-head-after();
 		}
 	}
}

.breakfast-menu {
 	position: absolute;
 	top: 2%;
 	left: 3%;
 	width: 100%;
 	max-width: 94%;
 	height: 96%;
 	margin: 0 auto;
 	padding-top: 50px;
 	border: 1px dashed #9e9c93;
 	border-bottom-left-radius: 9px;
 	z-index: 400;
 	text-align: center;
}

.breakfast-menu-text {
 	margin: 0 30px;
 	h3 {
 		@include alegreya(36px);
 		color: $main-text-color;
 		letter-spacing: 1px;
 		padding-top: 50px;
 	}
 	p {
 		@include proxima-nova(14px);
 		color: $main-text-color;
 		letter-spacing: 1px;
 		padding: 40px 0;
 	}
}

.breakfast-menu-btn {
 	padding: 12px 60px;
 	margin: 0 auto;
 	@include alegreya(15px);
 	color: $brown-color;
 	vertical-align: middle;
 	text-transform: uppercase;
 	border: 1px solid $main-text-color;
 	@include transition(0.5s);
 	&:hover {
 		border-color: $beige-color;
 		@include transition(0.5s);
 	}
}

.toggle-breakfast {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2000;
	a {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin-left: 5px;
		border: 2px solid $main-text-color;
		background-color: $beige-color;
		@include border-radius(50%);
		&.active {
			background-color: $brown-color;
		}
		&:hover {
			background-color: $brown-color;
		}
	}
}

/*-------- info-food ---------*/

.info-food {
 	position: relative;
 	max-width: 1600px;
 	margin: 0 auto;
 	background-color: #f3f1e9;
 	&:before {
 		content: "";
 		position: absolute;
 		top: 0;
 		left: 50%;
 		width: 707px;
 		height: 142px;
 		background: url('../img/Vektor-Smartobjekt21.png') no-repeat;
 		@include transformX-Y(-50%, 0);
 	}
}

.title-food {
 	position: absolute;
 	top: 13%;
 	left: 50%;
 	width: 100%;
 	text-align: center;
 	@include transformX-Y(-50%, -13%);

 	h2 {
 		@include alegreya(48px);
 		color: $main-text-color;
 	}

 	p {
 		@include alegreya(14px);
 		color: $brown-color;
 		text-transform: uppercase;
 	}
}

.wrap-ingredients {
 	margin-top: 200px;
 	text-align: center;
}

.ingredients {
 	margin-bottom: 55px;
 	img {
 		width: 100px;
 		height: 100px;
 		@include box-shadow(0px, 3px, 6px, -2px, rgba(0,0,0,1));
 		@include border-radius(50%);
 	}
 	h4 {
 		@include alegreya(30px);
 		color: $brown-color;
 		padding-bottom: 20px;
 	}
 	p {
 		@include proxima-nova(14px);
 		color: $main-text-color;
 	}
}

.wrap-photo-food {
 	width: 100%;
 	margin-top: 270px;
 	background-color: #fff;
 	@include box-shadow(0px, 5px, 10px, -5px, rgba(0,0,0,1));
}

.photo-food {
 	position: relative;
 	width: 100%;
 	height: 535px;
 	margin: 0 auto;
 	border: 8px solid #fff;
 	background: url('../img/Ebene-113.jpg') no-repeat;
 	@include background-size(cover);
}

.time-cooking {
 	position: absolute;
 	top: -8%;
 	right: 0;
}

.time-cooking-item {
 	width: 200px;
 	height: 200px;
 	margin-bottom: 1px;
 	padding-top: 45px;
 	text-align: center;
 	background-color: rgba(255,255,255,0.85);
 	@include transition(0.5s);
 	&:hover {
 		background: #fff url('../img/Vektor-Smartobjekt5.png') no-repeat;
 		@include transition(0.5s);
 		h5 {
 			text-transform: uppercase;
 		}
 		span {
 			font-size: 92px;
 			line-height: 85px;
 			color: $beige-color;
 		}
 	}
 	h5 {
 		@include alegreya(18px);
 		color: $brown-color;
 	}
 	span {
 		@include alegreya(60px);
 		color: $main-text-color;
 	}
 	p {
 		@include alegreya(18px);
 		color: #979285;
 	}
}

.recipe {
 	position: absolute;
 	bottom: -25px;
 	left: -4%;
 	width: 170px;
 	height: 60px;
 	@include alegreya(18px);
 	line-height: 60px;
 	color: $beige-color;
 	text-align: center;
 	vertical-align: middle;
 	text-transform: uppercase;
 	border: 1px dashed $beige-color;
 	background-color: #fff;
 	@include transition(0.5s);
 	&:hover {
 		color: $main-text-color;
 		border-color: $main-text-color;
 		@include transition(0.3s);
 	}
}

/* ==================
  Footer 
================== */

footer {
	max-width: 1600px;
  	margin: 0 auto;
  	padding: 70px 0;
  	background-color: #f3f1e9;
}

.border-menu {
  	border-top: 1px solid #bfbbb7;
  	border-bottom: 1px solid #bfbbb7;
}

.footer-menu {
  	display: table-row;
  	li {
  		display: table-cell;
  		width: auto;
  		height: 69px;
  		text-align: center;
  		a {
  			display: table-cell;
  			width: 1000px;
  			height: 69px;
  			vertical-align: middle;
  			@include nav-link($main-text-color);
  			text-transform: uppercase;
  			letter-spacing: 2px;
  		}
  	}
}

.footer-logo {
  	text-align: center;
  	a {
  		display: table-cell;
  		width: 1000px;
  		height: 69px;
  		vertical-align: middle;
  		font: 30px 'Scriptina';
  		line-height: 30px;
  		@include nav-link($main-text-color);
  	}
}


/*
 * Media Enquiries 1200px
 */
.main-menu {
 	@include lg {
 		li + li {
 			margin-left: 18px;
 			&:before {
 				padding-right: 18px;
 			}
 		}
 	}
}

/*
 * Media Enquiries 992px
 */

.main-menu {
 	@include md {
 		font-size: 12px;
 		li + li {
 			margin-left: 8px;
 			&:before {
 				padding-right: 8px;
 			}
 		}
 	}
}

.social-menu {
 	@include md {
 		li  {
 			padding-left: 10px;
 		}
 	}
}

.left-content {
 	@include md {
 		padding: 0 0 30px 0;
 		margin-bottom: 30px;
 	}
}

.bg-image-breakfast {
	@include md {
		height: 840px;
	}
}

.breakfast-left {
 	@include md {
 		padding-top: 0;
 		padding-left: 0;
 		h2 {
 			font-size: 30px;
 		}
 		h4 {
 			font-size: 12px;
 		}
 		h3 {
 			font-size: 16px;
 			padding-top: 20px;
 		}
 		p {
 			font-size: 12px;
 			padding-bottom: 10px;
 		}
 		div {
 			font-size: 18px;
 		}
 	}
}

.icon-breakfast {
	@include md {
 		&:before {
 			display: none;
 		}
 		&:after {
 			display: none;
 		}
	}
}

.breakfast-wrap {
	@include md {
		margin-top: 40px;
	}
}

.breakfast-name {
 	@include md {
 		width: 100%;
 		li {
 			width: 30%;
 			display: inline-block;
 		}
 		li + li {
 			padding-left: 20px;
 		}
 	}
}

.image-corner {
	@include md {
		display: none;
	}
}

.img-text {
 	@include md {
 		padding-top: 50px;
 	}
}

/*
* Media Enquiries 767px
*/

.showcase-text {
 	@include sm {
 		h1 {
 			font-size: 60px;
 		}
 	}
}

.main-menu {
 	@include sm {
 		display: none;
 		li + li {
 			margin-left: 0;
 			&:before {
 				content: '';
 				padding-right: 0;
 			}
 		}
 		li {
 			display: block;
 			a {
 				font-size: 20px;
 			}
 		}
 	}
}

.social-menu {
 	@include sm { 
 		display: none;
 	}
}

.bg-image-breakfast {
	@include sm {
		height: 700px;
	}
}

.breakfast-left {
 	@include sm {
 		h2 {
 			font-size: 30px;
 		}
 		h4 {
 			font-size: 12px;
 		}
 		h3 {
 			font-size: 16px;
 			padding-top: 20px;
 		}
 		p {
 			font-size: 12px;
 			padding-bottom: 10px;
 		}
 		div {
 			font-size: 18px;
 		}
 	}
}

.breakfast-wrap-menu-1 {
 	@include sm {
 		right: -10px;
 		max-width: 290px;
 		min-width: 290px;
 		height: 395px;
 		background: url('../img/bg-1-xs.png') no-repeat;
 		&:before {
 			width: 20px;
 			height: 20px;
 			@include box-shadow(2px, -2px, 4px, -2px, rgba(0,0,0,1));
 		}
 		.breakfast-menu-head-1 {
 			width: 250px;
 			height: 41px;
 			background: url('../img/logo-menu-xs.png') no-repeat;
 		}
 	}
}

.breakfast-wrap-menu-2 {
 	@include sm {
 		top: 13.5px;
 		right: -22px;
 		max-width: 270px;
 		min-width: 270px;
 		height: 368px;
 		background: url('../img/bg-2-xs.png') no-repeat;
 		&:before {
 			width: 18px;
 			height: 18px;
 			@include box-shadow(2px, -2px, 4px, -2px, rgba(0,0,0,1));
 		}
 		.breakfast-menu-head-2 {
 			width: 230px;
 			height: 39px;
 			background: url('../img/logo-menu-2-xs.png') no-repeat;
 		}
 		.breakfast-menu-text {
 			h3 {
 				padding-top: 30px;
 			}
			p {
				padding: 25px 0;
			}
 		}
 	}
}

.breakfast-wrap-menu-3 {
 	@include sm {
 		top: 28px;
 		right: -34px;
 		max-width: 250px;
 		min-width: 250px;
 		height: 338px;
 		background: url('../img/bg-xs.png') no-repeat;
 		&:before {
 			width: 16px;
 			height: 16px;
 			@include box-shadow(2px, -2px, 4px, -2px, rgba(0,0,0,1));
 		}
 		.breakfast-menu-head-3 {
 			width: 210px;
 			height: 36px;
 			background: url('../img/logo-menu-3-xs.png') no-repeat;
 		}
 		.breakfast-menu-text {
 			h3 {
 				padding-top: 20px;
 			}
			p {
				padding: 20px 0;
			}
 		}
 	}
}

.breakfast-menu-text {
 	@include sm {
 		margin: 0 15px;
 		h3 {
 			font-size: 18px;
 		}
 		p {
 			font-size: 12px;
 		}
 	}
}

.info-food {
 	@include sm {
 		&:before {
 			width: 460px;
 			height: 92px;
 			background: url('../img/Vektor-Smartobjekt21-sm.png') no-repeat;
 		}
 	}
}

.title-food {
 	@include sm {
 		top: 5%;
 	}
}

.wrap-photo-food {
 	@include sm {
 		width: 95%;
 		margin-left: 25px;
 		margin-top: 70px;
 	}
}

.img-text {
 	@include sm {
 		padding: 25px 25px 20px 15px;
 		h2 {
 			font-size: 24px;
 		}
 	}
}

#carousel {
 	@include sm {
 		position: relative;
 		left: 50%;
 		margin-top: 50px;
 		@include transformX-Y(-50%,0);
 	}
}

.flexslider {
 	@include sm {
 		&:hover {
 			.flex-direction-nav .flex-prev {
 				left: 10px!important;
 			}
 		}
 	}
}

.flexslider {
 	@include sm {
 		&:hover {
 			.flex-direction-nav .flex-next {
 				right: 10px!important;
 			}
 		}
 	}
}
 
/*
 * Media Enquiries 480px
 */

.bg-image {
 	@include xs {
 		background-image: url('../img/Ebene-11-xs.jpg');
 	}
}

.bg-image-pancake {
	@include xs {
 		background-image: url('../img/Ebene-112-xs.jpg');
 	}
}

.bg-image-breakfast {
 	@include xs {
 		background-image: url('../img/img322-xs.jpg');
 	}
}

.left-content {
 	@include xs {
 		padding: 0 0 30px 0;
 		blockquote {
 			width: 200px;
 			&:before {
 				top: -35%;
 				left: -14%;
 			}
 			&:after {
 				bottom: -35%;
 				right: -14%;
 			}
 		}
 	}
}

.chef-cook {
 	@include xs {
 		&:before {
 			left: 55%;
 			@include nameChefCook-xs();
 			@include transformX-Y(55%,-50%);
 		}
 		&:after {
 			right: 55%;
 			@include nameChefCook-xs();
 			@include transformX-Y(-55%,-50%);
 		}
 	}
}

.text-img {
 	@include xs {
 		width: 200px;
 		height: 200px;
 		font-size: 20px;
 		background: url('../img/Vektor-Smartobjekt2-xs.png') no-repeat;
 	}
}

.info-food {
 	@include sm {
 		&:before {
 			width: 300px;
 			height: 60px;
 			background: url('../img/Vektor-Smartobjekt21-xs.png') no-repeat;
 		}
 	}
}

.title-food {
 	@include xs {
 		h2 {
 			font-size: 30px;
 			line-height: 30px;
 		}
 	}
}

.bg-image-pancake {
 	@include xs {
 		height: 600px;
 	}
}

.img-text {
 	@include xs {
 		padding: 5px 5px 20px 5px;
 		h2 {
 			line-height: 24px;
 		}
 		span {
 			font-size: 10px;
 		}
 		p {
 			margin-top: 10px;
 			font-size: 12px;
 		}
 	}
}






